# Ignore Gradle project-specific cache directory
.gradle
/gradle/

# Ignore Gradle build output directory
build

# Ignore IntelliJ project-specific cache directory
.idea

# ignore for now
slackbot

Jenkinsfile
